:root {
  --primeri-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-color: #ffffff;
  --footer-color: #2f303a;
  --filter-button: #f5f4fa;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --logo-color: #030303;
  --button-color: rgba(0, 0, 0, 0.15);
  --nav-border-color: #ececec;
  --border-color: #eeeeee;
  --background-hero: #c4c4c4;
  --background-color-hero: rgba(47, 48, 58, 0.4);
  --color-links: #afb1b8;
  --project-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --overlay-background: rgba(33, 150, 243, 0.9);
  --transit-time: 250ms;
  --smooth-function: cubic-bezier(0.4, 0, 0.2, 1);
  --btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --footer-input-color: rgba(255, 255, 255, 0.3);
  --input-outline: rgba(33, 33, 33, 0.2);
  --btn-sub: #188ce8;
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  background: var(--hero-color);
  color: var(--title-text-color);
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
a {
  display: block;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* header */
.heading {
  border-bottom: 1px solid var(--nav-border-color);
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.navigation,
.contacts-nav,
.site-nav {
  display: flex;
  margin: 0;
}

.logo-nav {
  display: flex;
  align-items: center;
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--logo-color);
}

.logo-web {
  color: var(--accent-color);
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  color: var(--title-text-color);

  transition: color var(--transit-time) var(--smooth-function);
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
.link {
  position: relative;
}
.link.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;

  background: var(--accent-color);
  border-radius: 2px;
}
.contacts-nav .item + .item {
  margin-left: 50px;
}
.contacts-nav {
  margin-left: auto;
}
.nav-icon {
  margin-right: 10px;
  fill: currentColor;
}
.envelope {
  width: 16px;
  height: 12px;
}
.smartphone {
  width: 10px;
  height: 16px;
}

.auth-nav {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  color: var(--primeri-text-color);

  transition: color var(--transit-time) var(--smooth-function);
}
.auth-nav:hover,
.auth-nav:focus {
  color: var(--accent-color);
}

/*Герой*/
.hero-section {
  max-width: 1600px;
  height: 600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to right,
      var(--background-color-hero),
      var(--background-color-hero)
    ),
    url(../images/Hero.jpg);
  background-color: var(--background-hero);
}
.hero-heading {
  width: 696px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}
.hero-name {
  margin-top: 0;
  font-weight: 900;
  font-style: normal;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--hero-color);
}
.hero-button {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--hero-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px var(--button-color);
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: var(--backdrop-color);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 40px;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: var(--hero-color);
}
.button-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  background: var(--hero-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
}
.close-modal {
  height: 11px;
  width: 11px;

  transition: fill var(--transit-time) var(--smooth-function);
}
.button-modal:hover,
.button-modal:focus {
  fill: var(--accent-color);
}
.modal-legend {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
label {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;

  color: var(--primeri-text-color);
}
.modal-input {
  position: relative;
  margin-bottom: 10px;
}
.icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  display: inline-block;

  width: 18px;
  height: 18px;
  transition: fill var(--transit-time) var(--smooth-function);
}
.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid var(--input-outline);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: border var(--transit-time) var(--smooth-function);
}
.form-input:hover,
.form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form-input:hover + .icon,
.form-input:focus + .icon {
  fill: var(--accent-color);
}
.feedback {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 20px;

  resize: none;
  border: 1px solid var(--input-outline);
  border-radius: 4px;
  cursor: pointer;
  transition: border var(--transit-time) var(--smooth-function);
}
.feedback:hover,
.feedback:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
}
.icon-checkbox:hover,
.icon-checkbox:focus {
  border: 2px solid var(--accent-color);
}
.check:checked + .icon-checkbox {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("../images/check.svg");
  background-size: contain;
  background-origin: border-box;
}
.check-text {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primeri-text-color);
}
.check-link {
  padding-left: 2px;
  color: var(--accent-color);
  text-decoration: underline;
}
.btn-sub {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--hero-color);
  border-style: none;
  background: var(--btn-sub);
  box-shadow: var(--shadow);
  border-radius: 4px;
  cursor: pointer;
}
/* Особенности */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.features {
  padding: 94px 0;
}
.features-item {
  display: flex;
  padding: 0;
}
.features-list {
  width: 270px;
}
.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;

  background-color: var(--filter-button);
  border-radius: 4px;
}
.features-icon {
  margin-bottom: 30px;
}
.icon-features {
  width: 70px;
  height: 70px;
}

.features-list:not(:first-child) {
  margin-left: 20px;
}
.features-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.features-text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
}
.features-text .footer {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primeri-text-color);
}
/* Чем мы занимаемся */
.projects-sect {
  padding-bottom: 94px;
}
.projects-title {
  margin-top: 0;
  margin-bottom: 50px;
}
.projects-item {
  display: flex;
  padding: 0;
}
.project-list {
  position: relative;
}
.project-list:not(:last-child) {
  margin-right: 20px;
}
.designation {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.designation-name {
  margin: 0;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--hero-color);
}
.projects-title,
.command-title {
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Наша команда */
.command {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 94px 0;
  background-color: var(--filter-button);
}
.command-item {
  border: 1px solid var(--border-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.command-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}
.command-list {
  display: flex;
  padding-left: 0;
}
.command-item:not(:last-child) {
  margin-right: 20px;
}
.command-group {
  padding-top: 30px;
  padding-bottom: 30px;
}
.command-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
}
.command-profession {
  margin-top: 0;
  font-weight: 400;

  color: var(--primeri-text-color);
}
.social-links {
  display: flex;
  justify-content: center;
}
.social-icon:not(:last-child) {
  margin-right: 10px;
}
.link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  max-width: 100%;

  border-radius: 50%;
  cursor: pointer;
  fill: var(--color-links);

  transition: fill var(--transit-time) var(--smooth-function),
    background-color var(--transit-time) var(--smooth-function);
}
.link-icon:hover,
.link-icon:focus {
  fill: var(--hero-color);
  background-color: var(--accent-color);
}
.instagram {
  width: 20px;
  height: 20px;
}

.clients-sect {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients:not(:last-child) {
  margin-right: 30px;
}
.clients {
  width: 170px;
  height: 90px;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border: 1px solid var(--color-links);
  border-radius: 4px;
  fill: var(--color-links);

  transition: fill var(--transit-time) var(--smooth-function);
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}
.clients-icon use {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Подвал */
.footer {
  padding: 60px 0;
  background: var(--footer-color);
}
.footer .container {
  display: flex;
  flex-wrap: wrap;
}
.footer-cont {
  display: flex;
  align-items: baseline;
}
.footer-data {
  margin-right: 70px;
}
.logo-footer {
  display: block;
  margin-bottom: 20px;
  margin-right: auto;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--hero-color);
}
.address {
  margin-right: auto;
  margin-bottom: 9px;
  font-style: normal;

  color: var(--hero-color);
}
.contacts {
  margin-right: auto;
  color: var(--contacts-color);
}
.mail {
  margin-bottom: 9px;
}
.footer-text {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--hero-color);
}
.footer-li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-lin {
  margin-right: 93px;
}
.footer-link {
  display: flex;
  margin-right: 10px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);
}
.footer-form {
  display: flex;
}
.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--hero-color);

  transition: fill var(--transit-time) var(--smooth-function),
    background-color var(--transit-time) var(--smooth-function);
}
.footer-icon:hover,
.footer-icon:focus {
  fill: var(--hero-color);
  background-color: var(--accent-color);
}
.twitter {
  width: 20px;
  height: 20px;
}

.footer-input {
  width: 358px;
  height: 50px;
  padding: 15px;
  margin-right: 12px;

  border: 1px solid var(--footer-input-color);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-color);
}
.footer-input::placeholder {
  color: var(--color-links);
}
.footer-button {
  display: inline-flex;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--hero-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px var(--button-color);
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
}
.send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--hero-color);
}
/* Портфолио */
.filter-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.filter-list:not(:last-child) {
  margin-right: 8px;
}
.filter-button {
  border-style: none;
  height: 38px;
  cursor: pointer;
  background: var(--filter-button);
  border-radius: 4px;

  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  letter-spacing: 0.03em;

  transition: color var(--transit-time) var(--smooth-function),
    background-color var(--transit-time) var(--smooth-function),
    box-shadow var(--transit-time) var(--smooth-function);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--hero-color);
  background-color: var(--accent-color);
  box-shadow: var(--btn-shadow);
}
.filter-button.current {
  background-color: var(--accent-color);
  color: var(--hero-color);
  box-shadow: var(--btn-shadow);
}
.projects {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.project-li {
  position: relative;

  max-width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid var(--border-color);
  transition: box-shadow var(--transit-time) var(--smooth-function);
}
.project-li:nth-child(3n) {
  margin-right: 0;
}
.project-li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-link:hover,
.project-link:focus {
  box-shadow: var(--project-shadow);
}
.project-text {
  margin: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--hero-color);
}
.foto-overlay {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 292px;

  background-color: var(--overlay-background);
  transform: translatey(100%);
  transition: transform var(--transit-time) var(--smooth-function);
}
.project-link:hover .overlay,
.project-link:focus .overlay {
  transform: translatey(0);
  box-shadow: var(--project-shadow);
}
.project-foto {
  display: block;
  width: 368px;
  height: 292px;
}
.project-group {
  padding: 20px 24px;
}
.project-title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.project-name {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--primeri-text-color);

  transition: color var(--transit-time) var(--smooth-function);
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}
