:root {
  --primeri-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-color: #ffffff;
  --footer-color: #2f303a;
  --filter-button: #f5f4fa;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --logo-color: #030303;
  --button-color: rgba(0, 0, 0, 0.15);
  --nav-border-color: #ececec;
  --border-color: #eeeeee;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  background: var(--hero-color);
  color: var(--title-text-color);
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}

/* header */
.heading {
  border-bottom: 1px solid var(--nav-border-color);
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.navigation,
.contacts-nav,
.site-nav {
  display: flex;
  margin: 0;
}
.logo-nav {
  display: flex;
  align-items: center;
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--logo-color);
}

.logo-web {
  color: var(--accent-color);
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  color: var(--title-text-color);
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.contacts-nav .item + .item {
  margin-left: 50px;
}
.contacts-nav {
  margin-left: auto;
}
.auth-nav {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  color: var(--primeri-text-color);
}
.auth-nav:hover,
.auth-nav:focus {
  color: var(--accent-color);
}

/*Герой*/
.hero-section {
  display: flex;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background: var(--footer-color);
}
.hero-name {
  display: inline-block;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--hero-color);
}
.hero-button {
  display: inline-block;

  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--hero-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px var(--button-color);
  border-style: none;
  outline: none;
  cursor: pointer;
}

/* Особенности */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.features {
  padding: 94px 0;
}
.features-item {
  display: flex;
  padding: 0;
}
.features-list {
  width: 270px;
}
.features-list:not(:first-child) {
  margin-left: 20px;
}
.features-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.features-text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  letter-spacing: 0.03em;
}
.features-text .footer {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primeri-text-color);
}
/* Чем мы занимаемся */
.projects--sect {
  padding-bottom: 94px;
}
.projects-title {
  margin-top: 0;
  margin-bottom: 50px;
}
.projects-item {
  display: flex;
  padding: 0;
}
.project-list:not(:last-child) {
  margin-right: 20px;
}

.projects-title,
.command-title {
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Наша команда */
.command {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 94px 0;
  background-color: var(--filter-button);
}
.command-item {
  border-radius: 0px 0px 4px 4px;
}
.command-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}
.command-list {
  display: flex;
  padding-left: 0;
}
.command-item:not(:last-child) {
  margin-right: 20px;
}
.command-group {
  padding-top: 30px;
  padding-bottom: 30px;
}
.command-name {
  margin-bottom: 10px;
  font-weight: 500;
}
.command-profession {
  margin-top: 0;
  font-weight: 400;

  color: var(--primeri-text-color);
}
/* Подвал */
.footer {
  background: var(--footer-color);
}
.footer .container {
  display: block;
  flex-wrap: wrap;
  padding: 60px 0;
}
.logo-footer {
  display: block;
  padding-bottom: 20px;
  margin-right: auto;
  font-family: "Raleway", sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--hero-color);
}
.address {
  margin-right: auto;
  margin-bottom: 9px;
  font-style: normal;

  color: var(--hero-color);
}
.contacts {
  margin-right: auto;
  margin-bottom: 9px;
  color: var(--contacts-color);
}
.mail {
  margin-bottom: 9px;
}
.tel {
}

/* Портфолио */
.filter-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.filter-list:not(:last-child) {
  margin-right: 8px;
}
.filter-button {
  border-style: none;
  outline: none;
  cursor: pointer;
  background: var(--filter-button);
  border-radius: 4px;
}
.filter-text {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
}
.filter-text:hover,
.filter-text:focus {
  color: var(--hero-color);
}
.filter-button.current {
  background-color: var(--accent-color);
  color: var(--hero-color);
}
.projects {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.project-li {
  max-width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid var(--border-color);
}
.project-li:nth-child(3n) {
  margin-right: 0;
}
.project-li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.project-foto {
  display: block;
  width: 368px;
  height: 292px;
}
.project-group {
  padding: 20px 24px;
}
.project-title {
  margin: 0;
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-name {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--primeri-text-color);
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}
