.command {
  padding: 60px 0;
  background-color: $filter-button;
  text-align: center;
}
.command-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: $font-size-28;
  line-height: $line-height-18;
  letter-spacing: $letter-spacing-03;
}
.command-item {
  border: 1px solid $border-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
.command-group {
  padding-top: 30px;
  padding-bottom: 30px;
}
.command-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: $font-medium;
}
.command-profession {
  margin-top: 0;
  font-weight: $font-normal;

  color: $primeri-text-color;
}
.social-links {
  display: flex;
  justify-content: center;
}
.social-icon:not(:last-child) {
  margin-right: 10px;
}
.link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  max-width: 100%;

  border-radius: 50%;
  cursor: pointer;
  fill: $color-links;

  transition: fill $transit-time $smooth-function,
    background-color $transit-time $smooth-function;
  &:hover,
  &:focus {
    fill: $hero-color;
    background-color: $accent-color;
  }
}

.instagram {
  width: 20px;
  height: 20px;
}
