.hero-section {
  max-width: 480px;
  height: 400px;
  padding: 118px 60px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to right,
      $background-color-hero,
      $background-color-hero
    ),
    url(../images/hero/hero_mobil-480.jpg);
  background-color: $background-hero;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        to right,
        $background-color-hero,
        $background-color-hero
      ),
      url(../images/hero/hero_mobil@2x-960.jpg);
  }
}
.hero-name {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;

  font-weight: $font-heavy;
  font-style: normal;
  font-size: $font-size-26;
  line-height: $line-height-62;

  letter-spacing: $letter-spacing-06;
  text-transform: uppercase;

  color: $hero-color;
}
.hero-button {
  display: block;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: $font-bold;
  font-size: $font-size-16;
  line-height: $line-height-87;
  letter-spacing: $letter-spacing-06;

  color: $hero-color;
  background: $accent-color;
  box-shadow: 0px 4px 4px $button-color;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
}
