.hero-section {
  max-width: 1600px;
  height: 600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to right,
      $background-color-hero,
      $background-color-hero
    ),
    url(../images/Hero.jpg);
  background-color: $background-hero;
}
.hero-heading {
  width: 696px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}
.hero-name {
  margin-top: 0;
  font-weight: $font-heavy;
  font-style: normal;
  font-size: $font-size-44;
  line-height: $line-height-36;

  letter-spacing: $letter-spacing-06;
  text-transform: uppercase;

  color: $hero-color;
}
.hero-button {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: $font-bold;
  font-size: $font-size-16;
  line-height: $line-height-87;
  letter-spacing: $letter-spacing-06;

  color: $hero-color;
  background: $accent-color;
  box-shadow: 0px 4px 4px $button-color;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
}
