.logo-nav {
  font-family: $font-logo;
  font-style: normal;
  font-weight: $font-bold;
  font-size: $font-size-24;
  line-height: $line-height-17;
  letter-spacing: $letter-spacing-03;

  color: $logo-color;
}
.logo-web {
  color: $accent-color;
}
@media screen and(min-width: 768px) and (max-width: 1024px) {
  .heading .logo-nav {
    margin-right: 88px;
  }
}
@media screen and(min-width:1170px) {
  .heading .logo-nav {
    margin-right: 93px;
  }
}
