.logo-nav {
  display: flex;
  align-items: center;
  margin-right: 93px;

  font-family: $font-logo;
  font-style: normal;
  font-weight: $font-bold;
  font-size: $font-size-26;
  line-height: $line-height-19;

  color: $logo-color;
}

.logo-web {
  color: $accent-color;
}
