.hamburger {
  font-weight: $font-medium;
  letter-spacing: $letter-spacing-02;
  @media screen and(min-width:$tablet-width) {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .menu-button {
    position: absolute;
    top: 10px;
    right: 15px;
    transform: translate(-50px -50px);
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    transition: fill $transit-time $smooth-function;

    &:hover,
    &:focus {
      fill: $accent-color;
    }
    & .icon-close {
      display: none;
    }

    &.is-open {
      & .icon-hamburger {
        display: none;
      }

      & .icon-close {
        display: block;
      }
    }
  }
}

.menu-list {
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  padding: 48px 40px;
  background-color: $hero-color;
  box-shadow: $menu-shadow;

  &.is-open {
    display: block;
  }
}
.nav {
  font-size: $font-size-40;
  line-height: $line-height-18;

  margin-bottom: 302px;
}
.site-nav a {
  margin-bottom: 32px;

  color: $title-text-color;

  transition: color $transit-time $smooth-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  &:not(:last-child) {
    margin: 0;
  }
}

.site-nav .link.current {
  color: $accent-color;
}
.contact {
  margin-bottom: 64px;

  .nav-icon {
    display: none;
  }
}
.contacts-nav {
  display: flex;
  flex-direction: column;
  .m {
    order: 2;
  }
  .t {
    order: 1;
  }
}
.tel {
  margin-bottom: 32px;
  font-size: $font-size-34;
  line-height: $line-height-18;

  color: $accent-color;
}
.mail {
  margin: 0;
  font-size: $font-size-24;
  line-height: $line-height-17;

  color: $primeri-text-color;
}
.soc-list {
  display: flex;
}
.soc-link {
  font-size: $font-size-18;
  line-height: $line-height-22;

  color: $accent-color;
}
.soc-li {
  display: flex;
  &:not(:first-child) {
    margin-left: 10px;
  }
  &:not(:last-child) {
    &::after {
      content: "";
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
}
