.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 93px 15px;
  height: 100%;
  width: 100%;
  background-color: $backdrop-color;
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  overflow-y: scroll;
}

.modal {
  position: absolute;
  padding: 40px;
  width: 450px;
  height: 609px;
  border-radius: 4px;
  background-color: $hero-color;
  box-shadow: $modal-shadow;

  @media screen and(min-widht:$tablet-min-width) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.button-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  background: $hero-color;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
.close-modal {
  height: 11px;
  width: 11px;

  transition: fill $transit-time $smooth-function;
}

.modal-legend {
  margin: 0 0 12px 0;
  font-weight: $font-bold;
  font-size: $font-size-20;
  line-height: $line-height-15;
  text-align: center;
  letter-spacing: $letter-spacing-03;

  color: $title-text-color;
}
label {
  display: flex;
  flex-wrap: wrap;
  font-size: $font-size-12;
  line-height: $line-height-17;
  letter-spacing: $letter-spacing-01;
  margin-bottom: 4px;

  color: $primeri-text-color;
}
.modal-input {
  position: relative;
  margin-bottom: 10px;
}
.icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  display: inline-block;

  width: 18px;
  height: 18px;
  transition: fill $transit-time $smooth-function;
}
.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid $input-outline;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: border $transit-time $smooth-function;
  &:hover,
  &:focus {
    outline: none;
    border: 1px solid $accent-color;
    + .icon {
      fill: $accent-color;
    }
  }
}
.feedback {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 20px;

  resize: none;
  border: 1px solid $input-outline;
  border-radius: 4px;
  cursor: pointer;
  transition: border $transit-time $smooth-function;
  &:hover,
  &:focus {
    outline: none;
    border: 1px solid $accent-color;
  }
}

.check-text {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  font-weight: $font-normal;
  font-size: $font-size-12;
  line-height: $line-height-17;
  letter-spacing: $letter-spacing-03;

  color: $primeri-text-color;
}
.check-link {
  padding-left: 2px;
  color: $accent-color;
  text-decoration: underline;
}

.btn-sub {
  display: block;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: $font-bold;
  font-size: $font-size-16;
  line-height: $line-height-87;
  letter-spacing: $letter-spacing-06;

  color: $hero-color;
  border-style: none;
  background: $accent-color;
  box-shadow: $shadow;
  border-radius: 4px;
  cursor: pointer;
  transition: background $transit-time $smooth-function;

  &:hover,
  &:focus {
    background: $btn-sub;
  }
}
