.heading {
  position: relative;
  border-bottom: 1px solid $nav-border-color;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 16px 0;
}
