.heading {
  border-bottom: 1px solid $nav-border-color;
}
.navigation,
.contacts-nav,
.site-nav {
  display: flex;
  margin: 0;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: $font-medium;
  color: $title-text-color;

  transition: color $transit-time $smooth-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.site-nav .link.current {
  color: $accent-color;
}
.link {
  position: relative;

  &.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;

    background: $accent-color;
    border-radius: 2px;
  }
}

.contacts-nav {
  margin-left: auto;
  .item + .item {
    margin-left: 50px;
  }
}
.nav-icon {
  margin-right: 10px;
  fill: currentColor;
}
.envelope {
  width: 16px;
  height: 12px;
}
.smartphone {
  width: 10px;
  height: 16px;
}
.auth-nav {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: $font-medium;
  color: $primeri-text-color;

  transition: color $transit-time $smooth-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
