.heading {
  position: relative;
  border-bottom: 1px solid $nav-border-color;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  @media screen and (max-width: 767px) {
    padding: 16px 0;
  }
}
.nav-heder {
  display: flex;
  margin: 0;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.heder-site-nav {
  display: flex;
  margin-right: 54px;
}

.heder-site-nav a {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: $font-medium;
  color: $title-text-color;

  transition: color $transit-time $smooth-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.link.current,
.heder-link.current {
  color: $accent-color;
}
.heder-link {
  position: relative;

  &.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;

    background: $accent-color;
    border-radius: 2px;
  }
}

.heder-item:not(:last-child) {
  margin-right: 50px;
}

.nav-icon {
  margin-right: 10px;
  fill: currentColor;
}
.envelope {
  width: 16px;
  height: 12px;
}
.smartphone {
  width: 10px;
  height: 16px;
}

.heder-contact-nav {
  display: flex;
  align-items: center;
}
.heder-auth-nav {
  display: flex;
  align-items: center;
  font-weight: $font-medium;
  color: $primeri-text-color;

  transition: color $transit-time $smooth-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
@media screen and(max-width:1000px) {
  .contact-item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
@media screen and(min-width:1000px) {
  .heder-contact-nav {
    display: flex;
    align-items: center;
  }
  .contact-item {
    white-space: pre-wrap;
    align-self: center;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
