.projects {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.project-li {
  position: relative;

  //   max-width: 370px;
  //   margin-right: 30px;
  // margin-bottom: 30px;

  border: 1px solid $border-color;
  transition: box-shadow $transit-time $smooth-function;
  @media screen and(max-width:1000px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and(min-width:768px) {
    text-align: center;
    width: calc((100% - 4 * 15px) / 2);

    &:nth-last-child(odd) {
      margin-right: 30px;
    }
  }

  //   &:nth-child(3n) {
  //     margin-right: 0;
  //   }
  //   &:nth-last-child(-n + 3) {
  //     margin-bottom: 0;
  //   }
}

.project-link:hover,
.project-link:focus {
  box-shadow: $project-shadow;

  .overlay {
    transform: translatey(0);
    box-shadow: $project-shadow;
  }
}
.project-text {
  margin: 0;
  padding: 63px 24px;
  font-size: $font-size-18;
  line-height: $line-height-56;
  letter-spacing: $letter-spacing-03;
  color: $hero-color;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;

  background-color: $overlay-background;
  transform: translatey(100%);
  transition: transform $transit-time $smooth-function;
}
.foto-overlay {
  position: relative;
  overflow: hidden;
}

.project-foto {
  // display: block;
  width: 450px;
  height: 294px;
}
.project-group {
  padding: 20px 24px;
}
.project-title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: $font-bold;
  font-size: $font-size-18;
  line-height: $line-height-2;
  letter-spacing: $letter-spacing-06;
  color: $title-text-color;
}
.project-name {
  margin: 0;
  font-weight: $font-normal;
  font-size: $font-size-16;
  line-height: $line-height-87;
  letter-spacing: $letter-spacing-03;

  color: $primeri-text-color;

  transition: color $transit-time $smooth-function;
}
