$primeri-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$hero-color: #ffffff;
$footer-color: #2f303a;
$filter-button: #f5f4fa;
$contacts-color: rgba(255, 255, 255, 0.6);
$logo-color: #030303;
$button-color: rgba(0, 0, 0, 0.15);
$nav-border-color: #ececec;
$border-color: #eeeeee;
$background-hero: #c4c4c4;
$background-color-hero: rgba(47, 48, 58, 0.4);
$color-links: #afb1b8;
$project-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
$backdrop-color: rgba(0, 0, 0, 0.2);
$overlay-background: rgba(33, 150, 243, 0.9);
$transit-time: 250ms;
$smooth-function: cubic-bezier(0.4, 0, 0.2, 1);
$btn-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
$footer-input-color: rgba(255, 255, 255, 0.3);
$input-outline: rgba(33, 33, 33, 0.2);
$btn-sub: #188ce8;
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
$font-body: "Roboto", sans-serif;
$font-logo: "Raleway", sans-serif;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;
$font-heavy: 900;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-36: 36px;
$font-size-44: 44px;
$line-height-14: 1.14;
$line-height-15: 1.15;
$line-height-17: 1.17;
$line-height-19: 1.19;
$line-height-25: 1.25;
$line-height-36: 1.36;
$line-height-56: 1.56;
$line-height-62: 1.62;
$line-height-71: 1.71;
$line-height-87: 1.87;
$line-height-2: 2;
$letter-spacing-01: 0.01em;
$letter-spacing-02: 0.02em;
$letter-spacing-03: 0.03em;
$letter-spacing-06: 0.06em;
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1200px;
